html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    /* display: flex;
    flex-direction: column; */
    /* border: solid green; */
}


header {
    border-bottom: solid 1px #2596be;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 4em;
    background-color: white;
    z-index: 10;
}
hr {
    border: 0;
    height: 1px; 
    background-color: #2596be;
    margin: 0;
}

#box {
    /* border: solid; */
    width: 30%;
    display: flex;
    margin-left: 3%;
    align-items: center;
}


#logo {
    width: 10%;
}

#logoName {
    width: 40%;
    height: 5%;
}


nav {
    /* border: solid; */
    width: 10%;
}

#links {
    display: flex;
    list-style: none;
    /* border: solid blue; */
    padding: 0;
    height: 100%;
    margin: 0;

}

.list {
    font-size: 16px;
    font-weight: 400;
    border: solid;
    padding: 0;
    cursor: pointer;
    width: 8rem;
    padding: 0.5% 0;
    border-radius: 54px;
    border-width: 0px;
    background-color: #2596be;
    text-align: center;
    transition: background-color .25s;
    color: #fff;
}

.list:hover {
    background-color: #7c9a9c;
    cursor: pointer;
  
}

a {
    text-decoration: none;
    color: #fff;
}

a:visited {
    color: #fff;
  }

main {
    width: 100%;
    /* border: solid pink; */
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

#intro {
    /* border: solid; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#welcome {
    border-left: solid 1px #2596be;
}

#hero {
    width: 10%;
    height: fit-content;
}

#aboutUs {
    /* border: solid; */
    left: 30.5%;
    top: -55px;
    font-weight: 600;
    font-size: 25px;
}

#home {
    /* border: solid; */
}

.text {
    color: #000;
    line-height: 30px;
}

#produc {
    /* border: solid red; */
    width: 100%;
    
}

h2 {
    text-align: center;
    border-left: solid 1px #2596be;
    border-right: solid 1px #2596be;
    
}

#produc1 {
    /* border: solid; */
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.line {
    /* border: solid; */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
   margin-top: 12%;

}

h3 {
   text-align: center;
   /* border: solid 1px #2596be; */
   width: fit-content;
   border-left: solid 1px #2596be;
    border-right: solid 1px #2596be;
    border-top: solid 1px #2596be;
    margin: 0;
    padding: 1%;
}

#cal3 {
    width:25%;
    height: fit-content;
    margin-top: 1%;
    border: solid #2596be 1px;

}

h4 {
    margin: 0;
}

.info1 {
    width: 40%;
    height: 40em;
    border-left: solid 1px #2596be;
    align-content: center;
    padding-left: 1%;
    /* padding-top: 1%; */
}

.info2 {
    width: 30%;
    /* border: solid; */
    align-content: center;
    border-left: solid 1px #2596be;
    padding-left: 1%;


}

#produc2 {
    /* border: solid purple; */
    display: flex;
    justify-content: space-evenly;

}

#cis1 {
    width:30%;
    height: fit-content;
    margin-top: 1%;
    border: solid #2596be 1px;
}

#servi {
 width: 100%;
}

#servi1 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

figure {
    /* border: solid red; */
    width:17%;
    height: fit-content;

}

.manfotos {
    width:100%;
    height: fit-content;
}

figcaption {
    text-align: center;
    font-size: 1.3rem;
}

#servi2 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#contact {
    border-top: solid 1px #2596be;
    width: 100%;
    height: 30em;
    background-image: url(./pictures/baner.jpg);
    /* height: 600px; */
    background-position: center;
    background-size: contain;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-repeat: no-repeat;
    margin-top: 12%;
}

#cleft {
    border: solid 1px #2596be;
    width: 30%;
    height: 90%;
    /* display: block; */
    text-align: center;
}

#cright {
    border: solid 1px #2596be;
    width: 30%;
    height: 90%;
}

.con {
    color: #000;
    display: block;
    /* border: solid; */
}

#slogan {
    text-transform: uppercase;
}